*{
  box-sizing: border-box;
}
.vacancy{
  width: 100%;
  border: 1px solid royalblue;
  display: inline-block;
  overflow: auto;
}
.card{
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid gainsboro;
}
.header{
  width: 100%;
  height: 5rem;
  background: royalblue;
}
.grid{
  display: grid;
  grid-template-columns: 70% 30%;
}
.grids{
  display: grid;
  grid-template-columns: 10% 65% 25%;
}
.hcard{
  width: 100%;
  height: 5rem;
  padding: 1rem;
  color: white;
}
.btn{
  padding: .5rem;
  background: darkblue;
  color: white;
  text-decoration: none;
  
}
.btns{
  padding: .3rem;
  background: royalblue;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 11px;
  
}
.card h3{
  margin-bottom: 5px;
}
.download{
  padding: .3rem;
  background: forestgreen;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 11px;
  
}
